div {
    height : 160px;
}
select.train-picker {
    height : inherit;
    width: 10em;
    margin-left: 10px;
    margin-right: 10px;
}
select.train-picker:focus {
    height : inherit;
    /* min-width: 20em; */
}